body, input, textarea, .navitem{
    font-family: Permanent Marker;
}

body {
    background-color: #F5E8DD;
}

textarea{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.heading {
    font-size: 50px;
    margin-left: 30px;
}

.navbar {
    display: flex;
    justify-content: end;
    border-radius: 10px;
    padding: 10px;
}

.navitem {
    background-color: #B5C0D0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px grey;
    transition: 0.5s;
    font-size: 16px;
}

.navitem:hover {
    background-color: #88AB8E;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#bigtext {
    color: #B5C0D0;
    font-size: 5rem;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

input[type=submit] {
    width: 100%;
    background-color: #2980b9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76vh;
}

.flexbox {
    margin: 20px;
}

#stickwala {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 20%;
    background-color: B5C0D0;
    padding: 20px 40px;
    border-radius: 15px;
}

.stick {
    border: 20px;
    margin: 20px;
    width: 10px;
    height: 30vh;
    border-radius: 20px;
    background-color: #B5C0D0;
}

.box {
    background-color: #B5C0D0;
    border-radius: 20px;
    padding: 20px;
    margin: 20px
}

.footer {
    display: flex;
    justify-content: center;
}